@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  /* zoom: 125%; */
  /* background-image: url('img/izus.gif'); */
  background-image: linear-gradient(
    0deg,
    rgb(130, 160, 194) 23.8%,
    rgb(126, 197, 45) 92%
  );
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.music-container {
  zoom: 125%;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(231, 223, 223, 0.6);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
}

.img-container {
  position: relative;
  width: 110px;
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: #fff;
  border: 0;
  color: #dfdbdf;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #cdc2d0;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}
.slidecontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fa-volume-down,
#myRange {
  margin-right: 10px;
}
#volume-slider {
  overflow: hidden;
  width: 80px;
  -webkit-appearance: none;
  background-color: lightgray;
  border-radius: 10px;
  width: 150px;
}
#volume-slider::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: rgb(160, 153, 149);
  margin-top: -1px;
}
#volume-slider::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: pointer;
  background: #000000;
  box-shadow: -80px 0 0 80px;
  /* border-radius: 20px; */
}

.fas {
  min-width: 30px;
}
#myVideo {
  visibility: hidden;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 105%;
  min-height: 105%;
}
